{% extends 'base.html' %}

{% block title %}Acerca de - Universidad Mariano Gálvez{% endblock %}

{% block content %}
<h2 class="text-dark">Acerca de Nosotros</h2>
<p class="text-justify">
  Universidad Mariano Gálvez de Guatemala, es una institución de educación superior, privada, independiente, no lucrativa, 
  que funciona de acuerdo con las leyes propias de su naturaleza institucional, aprobada el 29 de enero de 1966 por el Consejo Supremo
  Universitario de la Universidad de San Carlos de Guatemala.
</p>
<p>
  Su nombre hace honor al eximio estadista, prócer y preclaro jurisconsulto Doctor José Mariano Gálvez 
  (Jefe del Estado de Guatemala 1831-1838), fundador de la Academia de Estudios y reformador de la educación guatemalteca...
</p>

<h2 class="mt-4 text-dark">Visión</h2>
<p>
  Ser una institución de educación superior altamente competitiva, líder en su género, innovadora y creadora de conocimientos 
  científicos y tecnológicos...
</p>

<h2 class="mt-4 text-dark">Misión</h2>
<p>
  Formar, en niveles de excelencia académica y de acuerdo con las necesidades y demandas de la sociedad, profesionales, 
  investigadores, técnicos y docentes científicamente competentes, éticamente responsables y socialmente abiertos al cambio progresista...
</p>
{% endblock %}
